@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Metrophobic);
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;}
h2 {background-color: #0b2061;
    color: white ;}

h1 {
  color: #0b2061; }

body {
  font-family: 'Metrophobic', sans-serif;
  color: #474747; }

a {
  color: #0f3cce;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
